<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Failed😥😥</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>
<body style="text-align:center;">

<h2 >WELCOME TO LIBRARY MANAGEMENT SYSTEM!</h2>
<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/330px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg">
</br>
<br>
<marquee><h4 class="text-danger">Hello! Namaste! Swagatam! Vanakkam !</h4><h4 class="text-warning">WELCOME USER</h4></marquee>
<h2> ID NOT FOUND/ ID ALREADY INSERTED</h2>
</br>
</body>
</html>