<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books 📚📚</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>
<body style="text-align:center;">

<h2 style="text-align:center;">WELCOME TO LIBRARY MANAGEMENT SYSTEM!</h2>

<br>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg/330px-Gutenberg_Bible%2C_Lenox_Copy%2C_New_York_Public_Library%2C_2009._Pic_01.jpg">
</br>
<br>
<marquee><h4 class="text-danger">Hello! Namaste! Swagatam! Vanakkam !</h4></marquee>
</br>
{% if book_list %}
<ul>
    <table style=" font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;">
        <tr><th>Book id</th><th>Book name</th><th>Book author</th><th>Book type</th></tr>
    {% for book in book_list %}

        <tr><td>{{ book.book_id }}</td><td>{{ book.book_name }}</td><td>{{ book.book_author }}</td>
        <td>{{ book.book_type }}</td></tr>


    {% endfor %}
        </table>
</ul>
{% else %}
<h3>No books available</h3>
{% endif %}

</body>
</html>